:root {
	--spacing: 32px;
	--relative-spacing: 1lh;

	--foreground: black;

	--font-family: monospace;
	--font-weight-bold: 700;

	--font-heading: var(--font-weight-bold) 48px var(--font-family); 
	--font-body: 16px var(--font-family);

	/* NOTE https://en.wikipedia.org/wiki/Line_length */
	--ideal-line-lenght: 66ch;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	font: var(--font-body);
}

h1 {
	font: var(--font-heading);
}

li {
	list-style-position: inside;
}

buttun, input {
	display: block;
}

/* LAYOUT */

body > :is(header, main, footer) {
	padding-block: var(--spacing);
	padding-inline: max(var(--spacing), calc((100% - var(--ideal-line-lenght)) / 2));
}

body > header > nav > ul {
	display: flex;
	gap: var(--spacing);

	> li {
		display: block;

		> a {
			font: var(--font-body);
			color: var(--foreground);
		}

		&:last-child {
			margin-left: auto;
		}
	}
}

main > *:not(:first-child) {
	margin-top: var(--relative-spacing);
}
